# Incompatible flags to be flipped for 1.0
# TODO(aiuto): The commented out ones are note available in 0.28.1. Enable
# them when 0.29 comes out.
#
build --incompatible_auto_configure_host_platform
build --incompatible_disable_legacy_proto_provider
build --incompatible_disable_native_android_rules
build --incompatible_disable_nocopts
# build --incompatible_disable_partition_default_parameter
build --incompatible_disable_proto_source_root
build --incompatible_disable_static_cc_toolchains

# This breaks java toolchain 
# build --incompatible_disallow_empty_glob
# build --incompatible_disallow_hashing_frozen_mutables

#XX 
#XX # build --incompatible_load_java_rules_from_bzl
#XX # build --incompatible_disallow_legacy_javainfo
#XX # build --incompatible_disallow_legacy_java_provider
#XX # build --incompatible_require_java_toolchain_header_compiler_direct
#XX 
#XX build --incompatible_disallow_rule_execution_platform_constraints_allowed
#XX # build --incompatible_disallow_split_empty_separator
#XX # build --incompatible_disallow_unverified_http_downloads
#XX build --incompatible_enable_profile_by_default
#XX 
#XX # build --incompatible_load_cc_rules_from_bzl
#XX # build --incompatible_load_proto_rules_from_bzl
#XX # build --incompatible_load_python_rules_from_bzl
#XX 
#XX build --incompatible_make_thinlto_command_lines_standalone
#XX build --incompatible_no_target_output_group
#XX # build --incompatible_remap_main_repo
#XX build --incompatible_remove_legacy_whole_archive
#XX build --incompatible_restrict_attribute_names
#XX build --incompatible_restrict_named_params
#XX build --incompatible_restrict_string_escapes
#XX # build --incompatible_skip_genfiles_symlink
#XX build --incompatible_use_aapt2_by_default
#XX # build --incompatible_use_native_patch
#XX build --incompatible_use_specific_tool_files
#XX # build --incompatible_windows_bashless_run_command
#XX build --incompatible_windows_native_test_wrapper
#XX # This is not possible to set. See https://github.com/bazelbuild/bazel/issues/9065
#XX # build --@bazel_tools//tools/build_defs/pkg:incompatible_no_build_defs_pkg
